@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


$colorUno: #1d1b31;
$colorDos: #322e57;
$colorTres: #47417e;
$colorCuatro: #37352F;
$colorCinco: #73726E;
$colorSeis: #7DCB32;

*{
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: $colorCinco;
    text-align: justify;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: $colorUno;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 360px;
    max-width: 360px;
    background: $colorUno;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -360px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: $colorUno;
}

#sidebar ul.components {
    padding: 0px 0px;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: $colorSeis;
}

#sidebar ul li a:hover {
    color: #fff;
    background: $colorDos;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: $colorUno;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $colorUno;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #C8EBDF;
}

a.article,
a.article:hover {
    background: $colorUno !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.btnSideBarSe{
    display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -360px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .btnSideBarSe{
        display: inline;
    }
}


/* ---------------------------------------------------
    MAS ESTILOS
----------------------------------------------------- */
.contenido {
    color: $colorCuatro; 
}

/*#########################*/
    .btn-infoDos {
    background-color: $colorUno;
    border: 1px solid $colorUno;
    color: #FFF; }
  
  .btn-infoDos:hover {
    background-color: $colorDos;
    border: 1px solid $colorDos;
    color: #FFF; }
  
  /*#########################*/

  .my-custom-scrollbar {
    position: relative;
    height: 100%;
    overflow: auto; }
  
  .table-wrapper-scroll-y {
    display: block; }
  
/*#########################*/
.fontGrande {
    font-size: 2em;
    margin: 5px;
}
.centrado-v{
    display: flex;
    align-items: center;
    min-height: 100%;
}
.liLinks{
    color: $colorCinco;
    transition: all 0.5s;
    border-radius: 5px;
}
.liLinks:hover{
    color: #FFF;
    background-color: $colorDos;    
}